@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --animate-spin-once: spin-once 1s linear;
  --animate-spin-once-reverse: spin-once-reverse 1s linear;
  --animate-wipe: wipe 1.5s ease-in-out infinite;

  @keyframes spin-once {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-once-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes wipe {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
}
